<Html>

<head>
  <title>
    Registration Page
  </title>
</head>

<body bgcolor="Lightskyblue">
  {{>navbar}}
  <br>
  <br>
  <form action="/register" method="POST">

    <label> Firstname </label>
    <input type="text" name="firstname" size="15" /> <br> <br>

    <label> Lastname: </label>
    <input type="text" name="lastname" size="15" /> <br> <br>

    <label> Email: </label>
    <input type="email" id="email" name="email" /> <br> <br>

    <label> Gender: </label>
    <input type="radio" name="gender" value="male"> Male<br> <br>
    <input type="radio" name="gender" value="female"> Female<br> <br>

    <label> Password: </label>
    <input type="Password" id="pass" name="password"> <br> <br>

    <label> Confirm Password: </label>
    <input type="Password" id="repass" name="cnfpassword"> <br> <br>

    <label> Phone : </label>
    <input type="text" name="phone" size="10" /> <br> <br>

    <label> Age : </label>
    <input type="text" name="age" /> <br> <br>

    <input type="submit" value="Register" />

  </form>
</body>

</html>